:root{
    --Blue100: hsl(225, 100%, 94%);
    --Blue700: hsl(245, 75%, 52%);
    --Blue50: hsl(225, 100%, 98%);
    --Gray600: hsl(224, 23%, 55%);
    --Blue950: hsl(223, 47%, 23%);
    --White: hsl(0, 0%, 100%);
    --black: hsl(0,100%,0%); 
    --link-blue: hsl(245, 78%, 56%);
    --Violet: hsl(245, 84%, 64%);
}

@font-face {
  font-family: 'myCustomFont';
  src:url('RedHatDisplay-VariableFont_wght.ttf');
}

body{
    background-image: url("images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-color: var(--Blue100); 
}

main{
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100vh;
}

.mainBox{
    background-color: var(--White);
    width: 23em;
    height: 35em;
    margin: 0;
    border-radius: 1em;
}

.illustrationHeroImage{
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    width: 23em;
    height: auto;
}

.paddingBox{
    padding: 2.5em;
}

.orderSummaryBox{
    display: grid;
    justify-items: center;
    align-items: center;
}

.summaryHeading{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'myCustomFont';
    font-size: 1.5em;
    font-weight: 900;
}

.orderDescription{
    text-align: center;
    font-family: 'myCustomFont';
    font-size: 0.9em;
    padding:0;
    margin:0;
    margin-top: 1em;
    margin-bottom: 0.25em;
    color: var(--Gray600);
    font-weight: 500;
}

.annualPlanBox{
    display: grid;
    grid-template-columns: 0.5fr 4.5fr 2fr;
    grid-template-rows: 0.75em 0.75em 0.75em 0.75em 0.75em;
    margin: 1em 1em;
    height:4em;
    width:105%;
    background-color: var(--Blue50);
    justify-self: center;
    padding: 0.5em 0;
    border-radius: 0.75em;
}

.musicIconImage{
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 5;
    height:2.5em;
    width:2.5em;
    align-self: center;
    justify-self: right;
    padding-left: 1em;
    
}

.annualPlan{
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: center;
    padding-left: 1em;
    font-family: 'myCustomFont';
    font-size: 0.85em;
    color:var(--black);
    font-weight: 900;
}

.price{
    grid-column-start: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    align-self: center;
    padding-left: 1em;
    font-family: 'myCustomFont';
    font-size: 0.85em;
    color:var(--Gray600);
    font-weight: 500;
}

.changeLink{
    grid-column-start: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    align-self: center;
    font-family: 'myCustomFont';
    font-size: 0.7em;
    font-weight: 900;
    color: var(--link-blue);
}

.changeLink:hover{
    color: var(--Violet);
}

.buttons{
    display: grid;
    align-items: center;
    justify-items: center;
}

.proceedToPayment{
    width:105%;
    height:3em;
    background-color: var(--Blue700);
    color:var(--White);
    font-weight: 700;
    border: none;
    border-radius: 0.8em;
}

.proceedToPayment:hover{
    background-color: var(--Violet);
    cursor: pointer;
}

.cancelOrder{
    margin-top: 2em;
    border: none;
    background-color: var(--White);
    color: var(--Gray600);
    font-weight: 700;
    font-size: 0.8em;
}

.cancelOrder:hover{
    color: var(--black);
    cursor: pointer;
}



@media screen and (max-width: 650px)  {

    body{
        background-image: url("images/pattern-background-mobile.svg");
        background-repeat: no-repeat;
        background-color: var(--Blue100); 
    }

    main{
        display: grid;
        justify-items: center;
        align-items: center;
        height: 100vh;
    }

    .mainBox{
        background-color: var(--White);
        width: 20em;
        height: 35em;
        margin: 0;
        margin-bottom: 10em;
        border-radius: 1em;
    }

    .illustrationHeroImage{
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
        width: 20em;
        height: auto;
    }

}
